<!DOCTYPE html>
<html>
<head>
<title>Zippy Grader</title>
</head>

<body>
<h3>Select your program</h3>
<form action="/something.py" method="POST">
  <select name="cars" id="cars">
    <option value="func1">Functions Practice</option>
    <option value="saab">something for nothing</option>
    <option value="opel">glittering prizes</option>
    <option value="audi">black sheep wall</option>
  </select><br>

  <h3>Paste in your code</h3>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form>


</body>

</html>
